Django==3.1
django-jenkins
Flask==1.1.2
Pillow==6.2.2
django-filer == 2.0.2 
django-filter == 2.4.0 
django-image-cropping == 1.5.0 
django-mptt == 0.11.0
django-celery == 3.3.1
django-compressor == 2.4
django-extensions == 3.0.9
django-model-utils == 4.0.0
django-multiforloop == 0.2.1
django-social-auth == 0.7.28
django-tastypie-elasticsearch == 0.5.1
django-storages == 1.10.1
